#landing_container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    z-index: 1001;
    position: relative;
}

#landing_content {
    width: 700px;
    margin: 70px auto 0 auto;
    padding-top: 100px;
    background-color: rgba(255,255,255,.85);
    box-shadow: 0px 4px 8px #a8a8a8;
}

#welcome_letter {
    padding: 0 20px 10px 20px;
    margin-top: -50px;
    overflow-y: scroll;
}

#welcome_letter > p {
    font-size: 16px;
    color: #141414;
}

#welcome_letter > img {
    width: 660px;
}

.passage {
    margin-bottom: 100px;
}