#uContainer {
    width: 100%;
    background: url('../img/IMG_0212.JPG') bottom no-repeat;
    padding-top: 100px;
}

#updatesCont {
    margin-top: 100px;
}

#uMenu {
    position: relative;
    left: -5px;
    width: 200px;
}

.uMenuItem {
    cursor: pointer;
    font-family: Quicksand-Light;
    background-color: #2797f0;
    color: white;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding-left: 25px;
    font-size: 25px;
    margin-bottom: 10px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 1px 5px #606060;
}

.selectedU {
    background-color: #ff0636;
    width: 175px;
}

.currentU {
    display: block;
    width: 700px;
    background-color: white;
    margin: 0 0 20px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #606060;
}

.currentD {
    color: grey;
    font-family: Quicksand-Light;
    margin-bottom: 10px;
    font-style: italic;
}

.currentT {
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.currentImg {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.currentC {
    font-family: Lato-Light;
    padding: 20px;
}

#topWrapper {
    padding: 20px;
}

table {
    width: 100%;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.cbold {
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 18px;
}

.citalics {
    font-style: italic;
}

.cindent {
    text-indent: 40px;
}

.dbcindent {
    text-indent: 80px;
}